In [4]:
str = input("Enter a number")
strrev = str[::-1]
if str == strrev :
     print("It is palindrome")
else :
    print("It is not palindrome")

It is palindrome

In [5]:
a = (input("enter a number"))
rev = int(a[::-1])
print(rev)

555

In [ ]:
str = input("enter name: ")
a = str.count("a")
e = str.count("e")
i = str.count("i")
o = str.count("o")
u = str.count("u")
print("number of vowel is", a+e+i+o+u)

number of vowel is 0

In [7]:
str = input("enter name: ")
vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}
count = 0
for i in vowels:
    if i in str:
       count+=1 
print(count)

0

In [2]:
import math
a = int(input("enter a number"))
print(int(math.sqrt(a)))
print(int(pow(a,0.5)))
print(float(a**0.5))

5
5
5.0

In [ ]:
import math
a = int(input("enter a number"))
print(int(math.cbrt(a)))
print(pow(a,0.3333))
print(float(a**0.33))

enter a number 8

2
1.999861375368307
1.9861849908740719

In [ ]:
a = int(input("enter a num: "))
rev = 0
while (a>0):
    d = a%2

In [ ]:
from datetime import datetime
dob = int(input("enter dob"))
salary = int(input("enter salary in rupees: "))
year = datetime.now().year
age = year - dob  
print(age)
print("salary in doller is $",salary*90.92)

1461
salary in doller is $ 45460.0

In [41]:
n=int(input("enter a number :"))
rev=0

while n>0 :
    rem=n%10
    rev=rev*10+rem
    n=n//10
print(rev)

321

In [ ]:
from datetime import date
dob = int(input("enter dob"))
day = int(input("enter day"))
month = int(input("enter month"))
salary = int(input("enter salary in rupees: "))
age = datetime.now().year - dob - month/100 - day/10000  
print(age)

19.9299

In [39]:
from datetime import date

# current date
today = date.today()
cy, cm, cd = today.year, today.month, today.day

# birth date
by = int(input("enter year: "))
bm = int(input("enter month: "))
bd = int(input("enter day: "))

# days in months (index = month)
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]

# age calculation
if cd < bd:
    cm -= 1
    cd += days_in_month[bm-1]

days = cd - bd

if cm < bm:
    cy -= 1
    cm += 12

months = cm - bm
years = cy - by

print("age is", years, "years", months, "months", days, "days")

age is 19 years 7 months 9 days

In [2]:
n=int(input("enter a number: "))
for i in range(1,11,1):
    print(n*i)

5
10
15
20
25
30
35
40
45
50

In [12]:
n=int(input("enter a number: "))
sum=0
i=1
while n>=i:
    sum+=i
    i+=1
print(sum)

15

In [14]:
n=int(input("enter a number: "))
t=n*(n+1)//2
print(t)

15

In [1]:
n=int(input("enter a number: "))
fact=1
for i in range(n,0,-1):
    fact=fact*i
print(fact)

120

In [8]:
# sequencial traversal of list, tuple, set, dictionary

list = [1,2,3,4,5]
for i in list:
    print(i)
print("")
list = ["potato", "tomato", "onion"]
for i in list:
    print(i.upper())
print("")
tup = (1,2,3,4,5)
for i in tup:
    print(i*2)

1
2
3
4
5

POTATO
TOMATO
ONION

2
4
6
8
10

In [12]:
str = "hello world"
for i in str:
    print(i, end="")
else:
    print("\nstring is traversed")

hello world
string is traversed

In [19]:
tuple =(2,3,5,6,7,8,9)
x = 10
for i in tuple:
    if i == x:
        print("found")
        break
else:    print("not found")

not found

In [36]:
# range function of for loop 
# lenear search
print("--------------------------------")
for i in range(5):
    print(i)
print("--------------------------------")
for i in range(0,5):
    print(i)
print("--------------------------------")
for i in range(0,11,2):
    print(i)
print("--------------------------------")
for i in range(5,0,-2):
    print(i)

--------------------------------
0
1
2
3
4
--------------------------------
0
1
2
3
4
--------------------------------
0
2
4
6
8
10
--------------------------------
5
3
1

In [32]:
x = 2
for i in range(1,11):
    print(x*i)

2
4
6
8
10
12
14
16
18
20

In [39]:
# pass statement
for i in range(5):
    pass
if i > 5:
    pass
print("hello")

hello

In [ ]:
#WAP to find the sum of first n numbers using while loop and for loop
#also factorial of n numbers using while loop and for loop

n = int(input("enter a number: "))
sum = 0
while n>0:
    sum = sum + n 
    n = n- 1
print(sum)

15

In [54]:
n = int(input("enter a number: "))
sum1 = 0
for i in range(n,0,-1):
    sum1 = sum1 + i
print(sum1)

15

In [55]:
n = int(input("enter a number: "))
fact = 1
for i in range(n,0,-1):
    fact = fact * i
print(fact)

120

In [56]:
n = int(input("enter a number: "))
fact = 1
for i in range(1,n+1):
    fact = fact * i
print(fact)

120

In [ ]:
 # functions 

def add(a,b):
    re turn a+b
print(add(2,3))
def sub(a,b):
    print(a-b)
sub(5,2)
def mul(a,b):
    return a*b # return value but we didnt store it in any variable or print it so it will not show any output if we write code after it 
mul(2,3) # it will not print if i write code after this line
print(mul(2,3))

5
3
6

In [83]:
def avg(a,b,c):
    return (a+b+c)/3
print(avg(1,2,3))

2.0

In [85]:

print("hello", end=" ")
print("world")

hello world

In [65]:
list = ["shubham","shreyash","shubham","shreyash"]
def printlen(list):
    print(len(list))
def printlen1(list):
    for i in list:
        print(f"{i}")
printlen1(list)

shubham
shreyash
shubham
shreyash

In [ ]:
n = int(input("enter a number: "))
def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * fact(n-1)
fact(n)

(0, 1)

In [104]:
usd = int(input("enter usd : "))
def converter(usd):
    inr = usd * 90.01
    print("value of usd is ",inr, end=" ruppe ")
converter(usd)

value of usd is  450.05 ruppe

In [3]:
i="hello"
n=0
while n<len(i):
    print(i[n],end="")
    n+=1

hello

In [7]:
i="hello"
n=len(i)-1
while n>=0:
    print(i[n],end="")
    n-=1

olleh

In [9]:
i = "hello"
for i in i:
    print(i,end="")

hello

In [52]:
i = "hello"
for n in range(len(i)-1,-1,-1):
    print(i[n],end="")

olleh

In [38]:
str = "saippuakivikauppias"
rev = ""
pri = ""
for i in str:
    rev = i + rev
    pri = pri + i
print(f" string is : {pri}\n Reverse string is : {rev}")

 string is : saippuakivikauppias
 Reverse string is : saippuakivikauppias

In [3]:

str = input()
result = ""
for i in str:
    if i not in result:
        result = result + i
print(f"{str} without repeatation:  {result}")

shubham@233 without repeatation:  shubam@23

In [ ]:
""" 
    pattern DSA
     a
     ab
     abc
     b
     bc
     c
"""









str = "abc"
for i in range(len(str)):
    for j in range(i+1,len(str)+1):
        print(str[i:j])

a
ab
abc
b
bc
c

In [1]:
a = 1221
rev = 0
while a>0:
    rem = a % 10
    rev = rev * 10 + rem
    a = a // 10
    print(rev)

1
12
122
1221

In [4]:
a = 1223
print(1%10)
print(1/10)
print(1//10)

1
0.1
0

In [11]:
def greet():
    print("hellow")
greet()
greet()
def sum(a,b):
    sum = a + b
    print(sum,end=" is the sum of a + b\n")
a = int(input("enter first number : "))
b = int(input("enter second number : "))
sum(a,b)

def sub(x,y):
    return x + y
sub = sub(3,5)
print(sub,end=" is the sub of x - z")

hellow
hellow
59 is the sum of a + b
8 is the sub of x - z

In [33]:
a = 5
b = "shubham"
print(a)
len(b)
type(b)
range(a)

5

range(0, 5)